<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This app uses data from mapbox.com and darksky.net to display weather at location searched</p>
        <p>Created by Nagesh A S</p>
        <img class="portrait" src="./images/me.jpg">
    </div>
    {{>footer}}
</body>

</html>